__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/
db.sqlite3
*.log
.pytest_cache/
.coverage
htmlcov/
.DS_Store
celerybeat-schedule
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat.pid